body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a0707;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.planet-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

@media (max-width: 900px) {
  .planet-container {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media (max-width: 600px) {
  .planet-container {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}


.planet-card {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.planet-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.planet-card h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.planet-card p {
  margin: 5px 0;
  color: #666;
}

.resident-details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #09090a;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #cf924d;
}

.pagination p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./assets/BackGround.png'); 
  background-size:cover;
  background-repeat: no-repeat; 
  height:fit-content;
  
}